<div id="oji">
  <h1>Oji</h1>
  <table>
    <tr>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>😀</td>
      <td>😀</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>😀</td>
      <td>😀</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
    </tr>
    <tr>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>😀</td>
      <td>😀</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>😀</td>
      <td>😀</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
    </tr>
    <tr>
      <td>🍔</td>
      <td>😀</td>
      <td>😀</td>
      <td>😷</td>
      <td>😀</td>
      <td>😀</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>😷</td>
      <td>😀</td>
      <td>😀</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>🍔</td>
    </tr>
    <tr>
      <td>😀</td>
      <td>😷</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>😀</td>
      <td>😀</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>😀</td>
      <td>😀</td>
      <td>🍔</td>
    </tr>
    <tr>
      <td>😷</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>😀</td>
      <td>😀</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>😀</td>
      <td>😀</td>
      <td>🍔</td>
      <td>😀</td>
    </tr>
    <tr>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>😀</td>
      <td>😀</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>😀</td>
      <td>😀</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
      <td>🍔</td>
      <td>😀</td>
      <td>😷</td>
    </tr>
  </table>
</div>
